<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nuevas Publicaciones</title>
</head>
<body>
    <h1>Crear una Nueva Publicación</h1>
    <form action="/display_get" method="get">
        <label for="title">Título</label>
        <input type="text" name="title" placeholder="Título"><br>
        <label for="body">Contenido</label>
        <textarea name="body" placeholder="Contenido"></textarea><br>
        <input type="submit" value="Enviar">
        
    </form>
</body>
</html>